.profile__edit{
    margin: 15px 0 0 18px;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    background-image: url(../../../images/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    float: right;
}
.profile__edit:hover{
    cursor: pointer;
    opacity: .6;
}
@media (max-width: 768px)  {
    .profile__edit{
        margin: 34px 0 0 10px;
        width: 18px;
        height: 18px;
    }
}