.popup__save{
    background-color: black;
    color: white;
    padding: 0;
    width: 85%;
    margin: 48px auto 37px;
    border: none;
    height: 50px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.popup__save:hover{
    cursor: pointer;
    opacity: .75;
}
@media (max-width: 768px)  {
    .popup__save{
        font-size: 14px;
        line-height: 17px;
        margin: 45px 0 25px;
    }
}