.profile__file{
    display: flex;
    justify-content: start;
    margin: 0;
    align-items: center;
}
@media (max-width: 768px)  {
    .profile__file{
        flex-direction: column;
        text-align: center;
    }
}